* {
    box-sizing: border-box;
}

body {
    margin-left: 2%;
    margin-right: 2%;
    background-color: blanchedalmond;
}

a {
    text-decoration: none;
}

#gif {
    display: block;
    margin: 10% auto; 
    height: 200px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;   
}

.content {
    text-align: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.recipes .btn{
    padding: 8px 5px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.credits {
    position: absolute;
    bottom: 0;
    margin: 5px auto;
    /* border: 5px solid purple; */
}

.credits img {
    height: 35px;
    width: auto;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.credits #odin-icon {
    margin-right: 20px;
}